/* main container */
#graph-view{
    position: relative;
    height: inherit;
    width: inherit;
}

#graph-view svg{
    height: 100%;
    width: 100%;
}

/* Concept Gs */
.concept-g{
    cursor: default;
}

.concept-g text{
    pointer-events: none;
    font-family: "Lato", Arial, sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    stroke-width: 0;
    fill: #333
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.concept-g.reduce-node-title text{
    font-size: 0.6em;
}

.concept-g circle{
    stroke: #333333;
    stroke-width: 2px;
    fill: #F6FBFF; /* light shade of alice blue see http://encycolorpedia.com/f6fbff for color scheme */
}

.concept-g:hover circle{
    fill: #ECF6FF;
}

.selected circle{
    fill: rgb(250, 232, 255);
}
.selected:hover circle{
    fill: rgb(250, 232, 255);
}


/* Path Gs */
marker{
    fill: #333;
}

path.link.hidden{
    stroke-width: 0;
}

.selected path.link {
    stroke: rgb(229, 172, 247);
}


path.link {
    fill: transparent;
    stroke: #333;
    stroke-width: 2px;
    cursor: default;
}

path.link-wrapper, path.short-link-wrapper{
    fill: none;
    stroke: #8282e5;
    stroke-width: 24px;
    opacity: 0;
}

path.link-wrapper:hover{
    opacity: 0.15;
}

.dep-icon-g rect, .ol-icon-g rect{
    fill: #333;
    stroke-width: 0;
    stroke: #333;
    display: none;
}
.dep-icon-g rect:hover, .ol-icon-g rect:hover{
    stroke-width: 5px;
}

.hovered .dep-icon-g rect, .hovered .ol-icon-g rect {
    display: block;
}

.dep-icon-g polygon, .ol-icon-g polygon{
    stroke-width: 0px;
    stroke: #333;
    fill: #333;
}
.dep-icon-g polygon:hover, .ol-icon-g polygon:hover{
    stroke-width: 3px;
}


/* dep and ol circles */
.concept-g .ol-circle{
    fill: #fbeded;
}
.concept-g .dep-circle{
    fill: #e6e6fa;
}

.scoped .concept-g .ol-circle{
    fill: #F6FBFF; /* light shade of alice blue see http://encycolorpedia.com/f6fbff for color scheme */
}
.scoped .concept-g .dep-circle{
    fill: #F6FBFF; /* light shade of alice blue see http://encycolorpedia.com/f6fbff for color scheme */
}

.concept-g.scoped-circle-g circle, .concept-g.scoped-circle-g .dep-circle, .concept-g.scoped-circle-g .ol-circle, .concept-g.focused-circle-g circle{
    fill: rgb(255, 244, 253);
}

/* (long) edges */
.start-wisp, .end-wisp{
    fill: none;
    stroke: #333;
    stroke-width: 2px;
}

.link-wrapper-hover .start-wisp, .link-wrapper-hover .end-wisp{
    display: none;
}

.long-edge{
    display: none;
}

.link-wrapper-hover path{
    display: block;
}

.link-wrapper-hover path.link-wrapper{
    opacity: 0.15;
}

.ol-show path.link-wrapper{
    stroke: #e48989;
}

.scoped .link-wrapper-hover path.link-wrapper{
    opacity: 0;
}
