/* Concept list */
#concept-list-panel{
    height: inherit;
    display: inline;
}

#concept-list-wrapper{
    top: 5em;
    width: 20%;
    min-width: 200px;
    display: block;
    float: left;
    position:relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box; /* IE */
    box-sizing: border-box;
    overflow: auto;
    height: inherit;
    border-right: 1px solid #CCCCCC;
}

#concept-list-wrapper h1, #concept-title-header h1{
    text-align: center;
    font-weight: bold;
    color: #333;
    font-size: 0.9em;
    padding-bottom: 0.3em;
    margin-top: 0.5em;
}

#concept-list{
    padding: 0;
    padding-bottom: 5em;
    margin: 0;
}

#concept-list-search{
    text-align: center;
}

#concept-list-search input{
    width: 85%;
    -ms-box-sizing: border-box; /* IE */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: white;
    background-color: #fafafa;
    font-size: 10px;
    height: 2.2em;
    outline: 0;
    padding: 0 0.2em;
    display: inline-block;
    border: 1px solid #4e0142;
    border-radius: 4px;
    cursor: text;
}

#concept-list-search input:hover{
    cursor: text;
}

#concept-list-search #cancel-search-input{
    background-color: #F3F3F3;
    cursor: pointer;
    width: 15%;
    border-radius: 0 4px 4px 0;
    position: absolute;
    right: 7%;
    display: none;
}

#concept-title-header{
    position: fixed;
    background-color: rgb(249, 249, 255);
    z-index: 5;
    width: 20%;
    min-width: 200px;
    height: 5em;
    border: 1px #8B8383 solid;
    border-top: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#concept-list-hide-button{
    position: absolute;
    z-index: 100;
    right: 0;
    top: 0.1em;
    cursor: pointer;
}

#concept-list-hide-button{
    border: 1px solid #7E7E7E;
    border-radius: 4px 0 0 4px;
    font-size: 1em;
    border-right: 0;
    color: #7e7e7e;
}

#concept-list-hide-button:hover{
    border-color: #690259;
    color: #690259;
}

#concept-list-show-button{
    display: none;
    left: 0;
    bottom: 40%;
    border-radius: 0 0 5px 5px;
    border-width: 0 1px 1px 1px;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: 0 0;
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -o-transform-origin: 0 0;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: 0 0;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#concept-list-show-button.expanded{
    left: 55%;
}

.learn-title-display{
    text-align: center;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #3E4018;
    padding: 1.4em 0.5em;
    line-height: 1.2em;
    font-size: 0.9em;
    border-bottom: 1px solid #CCCCCC;
    position: relative;
}
.learn-title-display:hover{
    background-color: rgb(250, 242, 248);
}
.learn-title-display.clicked-title{
    font-weight: bold;
    color: #333333;
    background-color: rgb(245, 232, 242);
}

.hide-clist #concept-list-wrapper, .hide-clist #concept-title-header{
    display: none;
}

.hide-clist #concept-list-show-button{
    display: block;
}

/* button for hiding/showing side objects */
.small-vp-button{
    display: none;
    cursor: pointer;
    position: absolute;
    text-align: center;
    font-family: sans-serif;
    background: rgb(102, 102, 102);
    z-index: 10;
    color: rgb(236, 236, 236);
    border: #302C2C solid;
    padding: 0.2em 1em;
}


@media only screen and  (max-width: 760px){
    #concept-list-wrapper, #concept-title-header{
        display: none;
    }
    .show-clist #concept-list-wrapper, .show-clist #concept-title-header{
        display: block;
    }

    .show-clist #concept-list-show-button{
        display: none;
    }

    .hide-clist #concept-list-wrapper, .hide-clist #concept-title-header{
        display: none;
    }

    #concept-list-show-button{
        display: block;
    }

    #learning-plan-button{
        display: block;
    }

    .learn-title-buttons{
        position: relative;
        display: block;
        margin-top: 0.2em;
    }

    .learn-title-buttons span{
        padding: 0 0.2em;
    }

    #concept-list-wrapper, #concept-title-header{
        display: none;
    }
}
